In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("weather_data.csv")

Q1  How Big is the Data ?

In [4]:
df.shape

(1000000, 6)

Q2 How does the data look like ?

In [5]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

Select randomly data

In [6]:
df.sample(7)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
192599,Philadelphia,2024-02-01 22:42:01,6.647826,82.717549,9.790365,28.873335
630882,New York,2024-01-13 17:57:35,35.185515,35.825234,9.805613,14.993840
907952,Phoenix,2024-04-16 14:58:42,38.415942,85.317246,5.420115,28.083796
701229,Los Angeles,2024-03-12 05:45:08,0.241234,56.118465,0.789255,2.952863
697506,Houston,2024-04-11 02:37:38,38.134061,75.837293,3.969331,6.088411
788762,Houston,2024-05-07 14:40:52,38.642160,88.775077,6.441387,26.878442
670162,Philadelphia,2024-01-03 06:12:43,2.890866,43.608901,0.082482,4.089225

Q3 What is the data type of Column ?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  object
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB

Q4 Are there any missing values?

In [8]:
df.isnull().sum()

Location            0
Date_Time           0
Temperature_C       0
Humidity_pct        0
Precipitation_mm    0
Wind_Speed_kmh      0
dtype: int64

Q5 How does the data look mathematically ?

In [9]:
#it decrive the mathemati
df.describe()

        Temperature_C    Humidity_pct  Precipitation_mm  Wind_Speed_kmh
count  1000000.000000  1000000.000000    1000000.000000  1000000.000000
mean        14.779705       60.021830          5.109639       14.997598
std         14.482558       17.324022          2.947997        8.663556
min        -19.969311       30.000009          0.000009        0.000051
25%          2.269631       45.008500          2.580694        7.490101
50%         14.778002       60.018708          5.109917       14.993777
75%         27.270489       75.043818          7.613750       22.514110
max         39.999801       89.999977         14.971583       29.999973

Q6 Are there duplicate values?

In [12]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
999995    False
999996    False
999997    False
999998    False
999999    False
Length: 1000000, dtype: bool

In [13]:
df.duplicated().sum()

0

In [17]:
df = df.drop_duplicates()

Q7 How is the correlation between columns ?

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  object
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB

In [25]:
df[['Temperature_C','Humidity_pct','Precipitation_mm','Wind_Speed_kmh']].corr()

,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
Temperature_C,1.000000,-0.001344,-0.010876,-0.001273
Humidity_pct,-0.001344,1.000000,-0.000264,-0.000642
Precipitation_mm,-0.010876,-0.000264,1.000000,0.000981
Wind_Speed_kmh,-0.001273,-0.000642,0.000981,1.000000