In [8]:
import pandas as pd
import numpy as np

# Working with JSON

In [7]:
pd.read_json ('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

# Working with SQL

In [10]:
!pip install mysql.connector
import mysql.connector
call= mysql.connector.connect(host='localhost',user='root',database='world')

Requirement already satisfied: mysql.connector in c:\users\hp\anaconda3\lib\site-packages (2.2.9)

In [11]:
pd.read_sql_query("SELECT*FROM city",call)

C:\Users\hp\AppData\Local\Temp\ipykernel_12756\4108357573.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT*FROM city",call)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [14]:
pd.read_sql_query("SELECT*FROM city WHERE CountryCode LIKE 'IND'AND District LIKE'Gujarat' ",call)

C:\Users\hp\AppData\Local\Temp\ipykernel_12756\947534528.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT*FROM city WHERE CountryCode LIKE 'IND'AND District LIKE'Gujarat' ",call)

      ID               Name CountryCode District  Population
0   1029          Ahmedabad         IND  Gujarat     2876710
1   1035              Surat         IND  Gujarat     1498817
2   1040  Vadodara (Baroda)         IND  Gujarat     1031346
3   1067             Rajkot         IND  Gujarat      559407
4   1090          Bhavnagar         IND  Gujarat      402338
5   1099           Jamnagar         IND  Gujarat      341637
6   1185             Nadiad         IND  Gujarat      167051
7   1241   Bharuch (Broach)         IND  Gujarat      133102
8   1245           Junagadh         IND  Gujarat      130484
9   1251            Navsari         IND  Gujarat      126089
10  1264        Gandhinagar         IND  Gujarat      123359
11  1266            Veraval         IND  Gujarat      123000
12  1283          Porbandar         IND  Gujarat      116671
13  1294              Anand         IND  Gujarat      110266
14  1313      Surendranagar         IND  Gujarat      105973
15  1317         Gandhidham         IND  Gujarat      104585
16  1322               Bhuj         IND  Gujarat      102176
17  1341             Godhra         IND  Gujarat       96813
18  1345              Patan         IND  Gujarat       96109
19  1362              Morvi         IND  Gujarat       90357
20  1364           Vejalpur         IND  Gujarat       89053